<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mms.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    
    <permission android:name="com.mms.sample.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.mms.sample.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.mms.MMSApplication"
        android:theme="@style/Theme.MMS" >
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- deprecated -->
        <activity android:name=".NewsActivity"
            android:screenOrientation="portrait"/>
		<activity android:name=".RegisterActivity"
		    android:screenOrientation="portrait"/>
		<activity android:name=".MeSectionActivity"
		    android:screenOrientation="portrait"/>
		<activity android:name=".DiscographyActivity"/>
		<activity android:name=".AlbumActivity"/>
		<activity android:name=".GallerySectionActivity"/>
		
        <!-- Facebook Stuffs -->
        <activity android:name="com.facebook.LoginActivity"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        
        <!-- GCM -->
        <receiver 
            android:name="com.mms.MMSMessagingReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.mms.sample"/>
            </intent-filter>
        </receiver>
        <service android:name="com.mms.sample.MMSNotificationService"/>
    </application>

</manifest>